<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<link rel="stylesheet" href="stylesheets/index.css">

<main>
  <h1>Drawn To It</h1>
  <h2>A community to share the love for artists and artwork alike</h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
  <a class="intro" href="/artists">Click here to get started</a>
</main>

<%- include('./partials/footer') %> 
