<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/artists/comments.css">

<main>
  <h1>Comments Page</h1>
  <ul  id="pictures">
    <% artist.artwork.forEach(artComment => { %> 
      <div>
        <li>
            <img src="<%= artComment.picture %>"
            style="max-width: 250px; width: 100%">
          </a>
        </li>
        <li>Title: <%= artComment.titleOfPiece %></li>
        <li>Size: <%= artComment.size %></li>
        <li>Medium: <%= artComment.medium %></li>
        <li>Surface: <%= artComment.surface %></li>
        <form action="/artists/<%= artist._id %>/artwork/<%= artComment._id %>/comments" method="POST">
          <input 
          type="textarea" 
          name="content">
          <button type="submit">Add Comment</button>
        </form>
        <div>
          <ul>
            <% artComment.comments.forEach(commentObj => { %> 
              <li> <%= commentObj.content %> </li>
              <button type="submit">Remove</button>
            <% }) %> 
          </ul>
        </div>
      </div>
      <% }) %> 
    </ul>

</main>
  
  <%- include('../partials/footer') %>