<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/artists/comments.css">

<main>
  <h1>Comments Page</h1>
  <ul  id="pictures">
      <div>
        <li>
            <img src="<%= artwork.picture %>"
            style="max-width: 250px; width: 100%">
          </a>
        </li>
        <li>Title: <%= artwork.titleOfPiece %></li>
        <li>Size: <%= artwork.size %></li>
        <li>Medium: <%= artwork.medium %></li>
        <li>Surface: <%= artwork.surface %></li>
        <form action="/artists/<%= artist._id %>/artwork/<%= artwork._id %>/comments" method="POST">
          <input 
          type="textarea" 
          name="content">
          <button type="submit">Add Comment</button>
        </form>
        <div>
          <ul>
            <% artwork.comments.forEach(commentObj => { %> 
              <li> <%= commentObj.content %> </li>
            <form action="/artists/<%= artist._id %>/artwork/<%= artwork._id %>/comments/<%= commentObj._id %>?_method=DELETE" method="POST">
              <button type="submit">Remove</button>
            </form>
            <% }) %> 
          </ul>
        </div>
      </div>
    </ul>

</main>
  
  <%- include('../partials/footer') %>