<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="stylesheets/artists/index.css">

<main>
  <h1>Artists</h1>
  <% if (user) { %> 
    <h2>Add New Artist:</h2>
    <form action="/artists" method="POST">
      <label>
        Picture of Artist:
        <input 
        type="text"
        name="picture"
        placeholder="Insert Link">
      </label>
      <label>
        Name:
        <input type="text" name="name">
      </label>
      <label>
        Age:
        <input type="text" name="age">
      </label> 
      <label>
        Handedness:
        <input type="text" name="handedness">
      </label> 
      <label>
        <button type="submit">Add Artist</button>
      </label> 
    </form>
    <% } %> 
  <section>
    <ul id="picture-artist">
      <% artists.forEach(artist => { %> 
        <div>
          <li>
            <img src="<%= artist.picture %>"
            style="max-width: 250px; width: 100%">
          </li>
          <li>Name: <%= artist.name %></li>
          <li>Age: <%= artist.age %></li>
          <li>handedness: <%= artist.handedness %></li>
          <li>
            <a class="art" href="/artists/<%= artist._id %>">View All Artwork -></a>
          </li>
          <li>
            <a class="art" href="/artists/<%= artist._id %>/edit">Edit Artist -></a>
          </li>
        </div>
        <% }) %> 
    </ul>
  </section>
</main>




<%- include('../partials/footer') %>
