<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Artists</h1>
  <% if (user) { %> 
    <h2>Add New Artist</h2>
    <form action="/artists" method="POST">
      <label>
        Picture of Artist:
        <input 
        type="img"
        alt="Artist Picture"
        name="picture"
        src="<% artists.picture %>">
      </label>
      <label>
        Name:
        <input type="text" name="name">
      </label>
      <label>
        Age:
        <input type="text" name="age">
      </label> 
      <label>
        Handedness:
        <input type="text" name="handedness">
      </label> 
      <label>
        <button type="submit">Add Artist</button>
      </label> 
    </form>
    <% } %> 
  <ul>
    <% artists.forEach(artist => { %> 
      <div>
        <li>Picture: <%= artist.picture %> </li>
        <li>Name:<%= artist.name %></li>
        <li>Age:<%= artist.age %></li>
        <li>handedness:<%= artist.handedness %></li>
        <li>Name:<%= artist.artwork %></li>
        <li>
          <a href="/artists/<%= artist._id %>">View All Artwork</a>
        </li>
        <!-- this will need an anchor tag with a link to /artwork-->
      </div>
      <% }) %> 
  </ul>
</section>




<%- include('../partials/footer') %>
