<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= artist.name %></h1>

<% if (user) { %> 
  <h2>Add Artwork</h2>
  <form action="/artists/<%= artist._id %>/artwork" method="POST">
    <label>
      Picture:
      <input
        type="text"
        name="picture"
        placeholder="Insert Link">
    </label>
    <!--<label>
      Title:
      <input 
      type="text"
      name="titleOfPiece">
    </label>
    <label>
      Size:
      <input
      type="text"
      name="size"
      placeholder="Length x Width">
    </label>
    <label>
      Medium:
      <input
      type="text"
      name="medium">
    </label>
    <label>
      Surface:
      <input
      type="text"
      name="surface">
    </label>-->
    <label>
      <button type="submit">Add Artwork</button>
    </label>
  </form>
  <% } %> 

  <ul>
    <% artist.artwork.forEach(art => { %> 
      <div>
        <li>
          
          
        </li>
        <li>
          <a href="/artists/<%= artist._id %>/artwork/<%= art._id %>">
            <img src="<%= art.picture %>"
            style="max-width: 250px; width: 100%">
          </a>
        </li>
        <!--<li>Title: <%= art.titleOfPiece %></li>
        <li>Size: <%= art.size %></li>
        <li>Medium: <%= art.medium %></li>
        <li>Surface: <%= art.surface %></li>
      </div> -->
      <% }) %> 
  </ul>

<%- include('../partials/footer') %>