<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/artists/show.css">
<main>
  <h1><%= artist.name %></h1>

<% if (user) { %> 
  <h2>Add Artwork</h2>
  <form action="/artists/<%= artist._id %>/artwork" method="POST">
    <label>
      Picture:
      <input
        class="arteest"
        type="text"
        name="picture"
        placeholder="Insert Link">
    </label>
    <label>
      Title:
      <input 
      type="text"
      name="titleOfPiece">
    </label>
    <label>
      Size:
      <input
      type="text"
      name="size"
      placeholder="Length x Width">
    </label>
    <label>
      Medium:
      <input
      type="text"
      name="medium">
    </label>
    <label>
      Surface:
      <input
      type="text"
      name="surface">
    </label>
    <label>
      <button type="submit">Add Artwork</button>
    </label>
  </form>
  <% } %> 

  <ul id="artwork-pictures">
    <% artist.artwork.forEach(art => { %> 
      <div>
        <li id="portrait">
          <a href="/artists/<%= artist._id %>/artwork/<%= art._id %>">
            <img src="<%= art.picture %>"
            style="max-width: 300px; width: 100%;"
            style="max-height: 300px; height: 100%;">
          </a>
        </li>
      </div>
      <% }) %> 
  </ul>
</main>
<%- include('../partials/footer') %>